<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gls.gemini.upms.boot.web.mapper.OrganizationInfoMapper">

    <resultMap id="organizationInfoResultMap" type="com.gls.gemini.upms.boot.web.entity.OrganizationInfoEntity">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="type_id" property="typeId"/>
        <result column="parent_id" property="parentId"/>
        <result column="sort" property="sort"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="version" property="version"/>
        <result column="deleted" property="deleted"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="create_user_name" property="createUserName"/>
        <result column="update_user_name" property="updateUserName"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <resultMap id="organizationVoMap" type="com.gls.gemini.sdk.core.dto.OrganizationDto">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="type_name" property="type"/>
        <result column="parent_id" property="parentId"/>
        <result column="sort" property="sort"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="version" property="version"/>
        <result column="deleted" property="deleted"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="create_user_name" property="createUserName"/>
        <result column="update_user_name" property="updateUserName"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="organizationInfoSql">
        id,code,name,description,type_id,parent_id,sort,tenant_id,version,deleted,create_user_id,create_user_name,create_time,update_user_id,update_user_name,update_time
    </sql>
    <select id="listByUserId" resultMap="organizationVoMap">
        select toi.*,
               tdi.name as type_name
        from t_organization_info toi
                 left join t_dict_info tdi
                           on toi.type_id = tdi.id
                               and toi.deleted = tdi.deleted
                 inner join t_user_organization_rel tuor
                            on toi.id = tuor.organization_id
                                and toi.deleted = tuor.deleted
        where tuor.user_id = #{userId}
          and toi.deleted = 0;
    </select>
    <select id="getOrganizationByUserId" resultMap="organizationVoMap">
        select toi.*,
               tdi.name as type_name
        from t_organization_info toi
                 left join t_dict_info tdi
                           on toi.type_id = tdi.id
                               and toi.deleted = tdi.deleted
                 inner join t_user_organization_rel tuor
                            on toi.id = tuor.organization_id
                                and toi.deleted = tuor.deleted
        where tuor.user_id = #{userId}
          and tuor.default_flag = 1
          and tuor.deleted = 0;
    </select>

</mapper>